
.grid-container--destination {
  padding-bottom: 4rem; 
}

.numbered-title {
  justify-self: center;
}

.destination-image {
  max-width: 170px;
  margin-block: 2rem;
  justify-self: center;
}

.tab-list {
  --gap: 1.5rem;
  order: 1;
  justify-content: center;
}

.tab-list button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: var(--fs-300);
  color: var(--clr-light);
  letter-spacing: var(--letter-spacing-2);
  transition: border-color 0.3s ease, color 0.3s ease;
}

.tab-list button:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  color: var(--clr-white);
}

.tab-list button.active {
  border-bottom: 3px solid var(--clr-white);
  color: var(--clr-white);
}

.destination-info {
  text-align: center;
  border-bottom: 1px solid hsl(231, 15%, 26%);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.destination-info h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.destination-info p {
  line-height: 1.8;
  max-width: 50ch;
  margin-inline: auto;
}

.destination-meta {
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.destination-meta h4 {
  color: var(--clr-light);
  font-size: var(--fs-200);
}

.destination-meta p {
  font-size: var(--fs-500);
  color: var(--clr-white);
}


/* Tablet Layout */
@media (min-width: 35em) {
  .numbered-title {
    justify-self: start;
    margin-left: 2.375rem;
  }

  .destination-image {
    max-width: 300px;
    margin-block-start: 3.75rem;
  }

  .tab-list {
    --gap: 2.25rem;
    order: unset;
  }

  .destination-info h3 {
    margin-top: 2rem;
  }

  .destination-meta {
    flex-direction: row;
    justify-content: space-around;
  }
  .grid-container--destination {
    padding-bottom: 4rem; 
  }
}

/* Desktop Layout */
@media (min-width: 45em) {
  .grid-container--destination {
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
    grid-template-areas:
      ". title title ."
      ". image tabs-and-info ."
      / 1fr minmax(0, 30rem) minmax(0, 30rem) 1fr;
    justify-items: start;
    text-align: left;
    height: 100vh;
    padding-bottom: 0; 
  }

  .numbered-title {
    grid-area: title;
    justify-self: start;
    align-self: end;
    margin-left: 10.5%;
  }

  .destination-image {
    grid-area: image;
    max-width: 445px;
    margin-block-start: 6rem;
    margin-inline: 0;
    justify-self: center;
  }

  .tab-list {
    grid-area: tabs-and-info;
    justify-self: start;
    justify-content: start;
    --gap: 2.25rem;
    margin-top: 5rem;
  }

  .destination-info {
    grid-area: tabs-and-info;
    text-align: left;
    padding-left: 1rem;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    align-self: start;
    margin-top: 10.5rem;
  }

  .destination-info p {
    margin-inline: 0;
    font-size: var(--fs-400);
  }

  .destination-meta {
    justify-content: start;
    gap: 5rem;
    margin-top: 3.5rem;
  }
}