
.home-page {
  display: grid;
  text-align: center;
  align-content: center; 
  justify-items: center;
  padding-bottom: 5rem;
  width: 100%; 
}

/* give inner content elements a max-width and center them */
.home-content, .explore-button {
  max-width: 50ch; 
  margin-inline: auto; 
  text-align: center; 
  padding-inline: 0; 
}

.home-content h1 span {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.home-content p {
  line-height: 1.5;
}

.explore-button {
  margin-top: 5rem;
}

.large-button {
  font-size: 2rem;
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 1.75em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
  color: var(--clr-dark);
  background-color: var(--clr-white);
  transition: all 0.3s ease;
}

.large-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 0.1;
  transform: scale(1.5);
}


/* Media Queries for Responsive Design for Home Page */

@media (min-width: 35em) { /* Tablet */
  .home-page {
    padding-block-start: 6.25rem;
    padding-bottom: 5rem;
    width: unset; 
  }
  .home-content, .explore-button {
    max-width: unset; 
    padding-inline: 0;
  }
  .home-content p {
    font-size: var(--fs-400); 
  }
}

@media (min-width: 45em) { /* Desktop */
  .home-page {
    grid-area: title;
    align-content: end; 
    text-align: left;
    padding-bottom: 8rem;
    width: unset;
  }

  .home-content, .explore-button {
    margin-inline: 0;
    max-width: unset;
    text-align: left;
  }

  .home-content h1 {
    margin-bottom: 1.5rem;
  }

  .explore-button {
    grid-area: button;
    margin-top: 0;
    align-self: end;
    justify-self: end;
  }

  .home-content p {
    font-size: var(--fs-400);
  }

  .large-button {
    font-size: var(--fs-600); 
  }
}